name: Publish Image

on: 
  workflow_dispatch:
    inputs:
      threshold:
        description: 'Scan threshold.'
        required: true
        default: 'high'
        type: choice
        options:
          - low
          - medium
          - high
          - critical
      override:
        description: 'Scan override.'
        required: true
        type: boolean

jobs:

  scan-image:
    name: 'Scan Image'

    runs-on: ubuntu-latest

    steps:

      - name: Docker Setup
        uses: docker/setup-buildx-action@885d1462b80bc1c1c7f0b00334ad271f09369c55 # 2.10.0

      - name: Build Image
        uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825 # 4.1.1
        with:
          tags: '${{ github.repository }}:latest'
          push: false
          load: true

      - name: Scan image
        uses: anchore/scan-action@24fd7c9060f3c96848dd1929fac8d796fb5ae4b4 # 3.3.6
        with:
          image: '${{ github.repository }}:latest'
          severity-cutoff: ${{ inputs.threshold }}
          fail-build: ${{ inputs.override != 'true' }}

  publish-image:
    name: 'Publish Image'

    runs-on: ubuntu-latest
    needs: scan-image

    permissions:

      contents: read
      packages: write
      id-token: write

    steps:

      - name: Checkout repository
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # 4.0.0

      - name: Install cosign
        uses: sigstore/cosign-installer@11086d25041f77fe8fe7b9ea4e48e3b9192b8f19 # 3.1.2
        with:
          cosign-release: 'v2.2.0'

      - name: Docker Setup
        uses: docker/setup-buildx-action@885d1462b80bc1c1c7f0b00334ad271f09369c55 # 2.10.0

      - name: Docker Login
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # 2.2.0
        with:
          registry: 'ghcr.io'
          username: '${{ github.actor }}'
          password: '${{ github.token }}'

      - name: Extract Metadata
        id: metadata
        uses: docker/metadata-action@818d4b7b91585d195f67373fd9cb0332e31a7175 # 4.6.0
        with:
          images: 'ghcr.io/${{ github.repository }}'

      - name: Build / Push Image
        uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825 # 4.1.1
        with:
          labels: ${{ steps.metadata.outputs.labels }}
          tags: ${{ steps.metadata.outputs.tags }}
          push: true

      - name: Sign Image
        run: |

          cosign sign 'ghcr.io/${{ github.repository }}:latest'